<div class="ui compact piled segment">
  <%= image_tag('charts_presentation.gif', class: "ui centered image") %>
 </div>
<div class="ui vertical compact segment">
  <h1 class="ui dividing header">Welcome to ITER Extract Analyzer</h1>
  <p>The analyser is a simple tool that parses a CSV file exported from ITER.
    It takes the PE Number as a major input, along with translation request date.
    Each document is searched for in OEIL and EP Registre, downloaded, parsed and
    additional data extracted:
  </p>
  <ol class="ui list">
    <li value="-">Document Date</li>
    <li value="-">Document Template</li>
    <li value="-">Page Count</li>
    <li value="-">Procedure Number</li>
  </ol>
  <h3 class="ui dividing header">Types of questions that can be answered with the tool?</h3>
  <ol class="ui list">
    <li value="-">How many 2nd version documents are there?</li>
    <li value="-">Which committee produces the most AM files in INI procedure?</li>
    <li value="-">What are the original languages of documents?</li>
    <li value="-">Which procedure type generates the most documents?</li>
    <li value="-">What are the most used RdM Templates?</li>
    <li value="-">What is the percentage of documents over 75 pages long?</li>
  </ol>


  <h3 class="ui dividing header">Known Issues / TO-DOs</h3>
  <p>The list of known problems and quirks with the tool:</p>
  <ol class="ui list">
    <li value="-">Registre File Download does not always find the correct file,
      for that reason the Registre file is only used for data when file from OEIL is not available.</li>
    <li value="-">CSV file is not validated properly upon uploading. Wrong format or file type results in an exception.</li>
    <li value="-">TO-DO: Add InterVersion Drift Calculation (How many days are elapsing in between subsequent versions of document)</li>
  </ol>
</div>

