<div class="ui middle aligned center aligned grid">
  <div class="column" style="max-width:450px">
    <h2 class="ui">Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
        <div class="ui large form">
          <div class="ui stacked left aligned segment">
            <%= f.input :email, required: true, autofocus: true %>

            <%= f.error :base %>
            <%= f.button :submit, "Reset password", class: "fluid" %>
          </div>
        </div>
    <% end %>
    <div class="ui basic segment">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>