<% if object.errors.any? %>
    <div class="ui error message">
      <i class="icon close"></i>
      <div class="header"><%= pluralize(object.errors.count, "error") %></div>
      <ul class="list">
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>