<%= provide(:title, 'List of Documents') %>

<h2 class="ui header dash_header">
  <i class="bar chart icon"></i>
  <div class="content">Documents Details (<%= @documents.try(:count) %>)</div>
</h2>



<!-- Chart Segment -->
<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">Versions</a>
  <a class="item" data-tab="second">Committees</a>
  <a class="item" data-tab="second-2">Amendments</a>
  <a class="item" data-tab="third">Languages</a>
  <a class="item" data-tab="fifth">Procedures</a>
  <a class="item" data-tab="sixth">Templates</a>
  <a class="item" data-tab="fourth">Page Count</a>
  <a class="item" data-tab="seventh">Creation-Translation Offset</a>




</div>
<div class="ui bottom attached active tab segment" data-tab="first">
  <% data = @documents.group(:no_versions).count %>
  <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
  <%= pie_chart data,
                library: { legend: { position: "right" },
                           tooltip: { trigger: 'selection' },
                           title: 'Document Distribution per Version'} %>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
    <% data = document_per_years(@documents) %>
    <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
    <%= bar_chart data, stacked: true,
                library: { legend: { position: "right"},
                           tooltip: { trigger: 'selection' },
                           isStacked: true,
                           title: 'Translation Request Distribution per Committee per Year',
                           hAxis: {title: 'Number of Documents'},
                           vAxis: {title: 'Years'} }%>

  <div class="ui divider"></div>
    <% data = document_per_month(@documents) %>
    <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
  <%= bar_chart data, stacked: true, height: height_of_chart(@documents),
                library: { legend: {position: "right"},
                           tooltip: { trigger: 'selection' },
                           isStacked: true,
                           height: "600px",
                           title: 'Translation Request Distribution per Committee per Month',
                           hAxis: {title: 'Number of Documents'},
                           vAxis: {title: 'Months'} }%>
</div>
<div class="ui bottom attached tab segment" data-tab="second-2">
  <% data = amendments_per_years(@documents) %>
  <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
  <%= bar_chart data, stacked: true,
                library: { legend: { position: "right"},
                           tooltip: { trigger: 'selection' },
                           isStacked: true,
                           title: 'Amendments per year',
                           hAxis: {title: 'Amendments'},
                           vAxis: {title: 'Years'} }%>

  <div class="ui divider"></div>
  <% data = amendments_per_month(@documents) %>
  <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
  <%= bar_chart data, stacked: true, height: height_of_chart(@documents),
                library: { legend: {position: "right"},
                           tooltip: { trigger: 'selection' },
                           isStacked: true,
                           height: "600px",
                           title: 'Amendments Distribution per Committee per Month',
                           hAxis: {title: 'Amendments'},
                           vAxis: {title: 'Months'} }%>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
    <% data = @documents.group(:doc_lang).count.sort { |l, r| l[1]<=>r[1] }.reverse %>
  <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
  <%= pie_chart data, library: { legend: { position: "right"},
                                             tooltip: { trigger: 'selection' },
                                             title: 'Document Distribution per Language'} %>
</div>
<div class="ui bottom attached tab segment" data-tab="fourth">
    <% data = number_of_pages(@documents) %>
    <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
    <%= line_chart data, curve: true, library: { title: 'Document Distribution per Page Count',
                                                               tooltip: { trigger: 'selection' },
                                                               hAxis: { title: 'Number of pages'},
                                                               vAxis: { title: 'Number of documents'} } %>
</div>
<div class="ui bottom attached tab segment" data-tab="fifth">
  <% data = @documents.where.not(procedure_type: nil).group(:procedure_type).count.sort { |l, r| l[1]<=>r[1] }.reverse %>
  <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
  <%= pie_chart data,
                library: { legend: { position: "right"},
                           tooltip: { trigger: 'selection' },
                           title: 'Document Distribution per Procedure Type'}%>
</div>
<div class="ui bottom attached tab segment" data-tab="sixth">
  <% data = @documents.where.not(procedure_type: nil).group(:template_name).count.sort { |l, r| l[1]<=>r[1] }.reverse %>
  <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
  <%= pie_chart data,
                library: { legend: { position: "right"},
                           tooltip: { trigger: 'selection' },
                           title: 'Document Distribution per Template' } %>
</div>
<div class="ui bottom attached tab segment" data-tab="seventh">
  <% data = time_drift_chart(@documents) %>
  <%= render partial: 'document_debug', locals: {documents: data} if params[:debug] %>
  <%= line_chart data, curve: true, library: { title: 'Creation-Translation Offset in Days',
                                     tooltip: { trigger: 'selection' },
                                     hAxis: { title: 'Number of days'},
                                     vAxis: { title: 'Number of documents'} } %>
</div>

<!-- Filter Segment -->
<h5 class="ui top attached header">
  Document Filter
</h5>
<div class="ui attached segment">
  <% # TODO - unobstrusive JavaScript for remote data - remote: true  %>
  <%= form_tag('', method: :get, class: "ui filter form") do %>
      <div class="inline fields">
        <label>Versions</label>
        <% @available_versions.each do |ver| %>
            <div class="field">
              <div class="ui checkbox">
                <%= check_box_tag "by_version[]", ver[0], @selected_versions.include?(ver[0].to_s) %>
                <label><%= 'v' "#{ver[0]}" " (#{ver[1]})" %></label>
              </div>
            </div>
        <% end %>
      </div>
      <div class="field">
        <label>Committees</label>
        <%= select_tag("by_committee[]", options_for_select(@available_committees, @selected_committees), multiple: true, class: 'ui dropdown')%>
      </div>
      <div class="field">
        <label>Procedures</label>
        <%= select_tag("by_procedure[]", options_for_select(@available_procedures, @selected_procedures), multiple: true, class: 'ui dropdown')%>
      </div>
      <div class="field">
        <label>Document Types</label>
        <%= select_tag("by_doc_type[]", options_for_select(@available_doc_types, @selected_doc_types), multiple: true, class: 'ui dropdown')%>
      </div>
      <div class="field">
        <label>Translation Submission Year</label>
        <%= select_tag("by_year[]", options_for_select(@available_years, @selected_years), include_blank: true, class: 'ui dropdown')%>
      </div>
      <div class="ui green button" id="filter_submit_button" type="submit" remote="true">Filter</div>
      <!-- <%= submit_tag('Filter', class: 'ui green button', name: nil, remote: true) %> -->
  <% end %>
</div>

<!-- Document Details Table -->
<%= will_paginate @documents %>
<table class="ui padded selectable striped unstackable green table">
  <thead>
    <tr>
      <th>PE Num</th>
      <th>Ver.</th>
      <th>Type</th>
      <th>Committee</th>
      <th>Procedure</th>
      <th>Pages / AMs</th>
      <th>Reg</th>
      <th>Oeil</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
  <% @documents.each do |document| %>
      <tr>
        <td><%= document.pe_num %></td>
        <% if document.no_versions > 1 %>
            <td class="warning"><%= document.no_versions %></td>
        <% else %>
            <td><%= document.no_versions %></td>
        <% end %>
        <td><%= document.doc_type %></td>
        <td><%= document.committee %></td>

        <% if document.procedure == "ERROR" %>
        <td class="negative">
          <i class="icon attention red"></i>
          <%= document.procedure %>
        </td>
        <% else %>
        <td><%= document.procedure %></td>
        <% end %>

        <td><%= document.page_count %> / <%= document.ams_count %></td>
        <% if document.reg_ok %>
            <td class="center aligned selectable collapsing" data-content="EP Register Download">
              <%= link_to(document.reg_url, html_options = {}) do %>
                <i class="download icon grey"></i>
              <% end %>
            </td>
        <% else %>
            <td class="center aligned negative collapsing">
              <i class="icon close"></i>
            </td>
        <% end %>
        <% if document.oeil_ok %>
            <td class="center aligned selectable collapsing" data-content="OEIL Download">
              <%= link_to(document.oeil_url, html_options = {}) do %>
                <i class="download icon grey"></i>
              <% end %>
            </td>
        <% else %>
            <td class="center aligned negative collapsing">
              <i class="icon close"></i></td>
        <% end %>
        <td>Link</td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr><th colspan="9">
        <%= will_paginate @documents %>
    </th></tr>
    </tfoot>
</table>