<div class="ui middle aligned center aligned grid">
  <div class="column" style="max-width:450px">
    <h2 class="ui">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="ui large form">
          <div class="ui stacked left aligned segment">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

            <%= f.error :base %>
            <%= f.button :submit, "Log in", class: "fluid" %>
          </div>
        </div>
    <% end %>
    <div class="ui basic segment">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>