<tr>
  <td><%= iter_extract.created_at.to_formatted_s(:short) %></td>
  <td><%= time_range(iter_extract.id) %></td>
  <td><%= iter_extract.documents.try(:first).try(:doc_type) %></td>
  <td><%= iter_extract.documents.count %></td>
  <td><%= error_count(iter_extract) %></td>
  <td class="collapsing">
    <%= link_to iter_extract_documents_url(iter_extract), class: 'ui small blue button' do %>
      <i class="bar chart icon"></i> Open
    <% end %>
    <%= link_to iter_extract_path(iter_extract), method: :delete, class: 'ui small button' do %>
      <i class="delete icon"></i> Delete (to-do)
    <% end %>
  </td>
</tr>