<%= provide(:title, 'All ITER Extracts') %>

<div class="ui basic segment">
  <h2 class="ui header dash_header">
    <i class="lab icon"></i>
    <div class="content">
      ITER Extracts
    </div>
  </h2>
  <p>List of uploaded Iter Extracts - each line in the table represents a separate upload.</p>
  <table class="ui padded selectable celled table">
    <thead>
      <tr>
        <th>Upload Date</th>
        <th>Time Range</th>
        <th>Doc Type</th>
        <th>Document Count</th>
        <th>Issues</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
    <% @iter_extracts.each do |iter_extract| %>
      <%= render iter_extract %>
    <% end %>
    </tbody>
  </table>
</div>