/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'semantic-ui/globals/all';
@import 'semantic-ui/elements/all';
@import 'semantic-ui/collections/all';
@import 'semantic-ui/views/all';
@import 'semantic-ui/modules/all';

html {
  overflow-y:scroll;
}

.extract.popup {
  min-width: 768px;
}

.main.container {
  padding-top: 10em;
}

.ui.menu {
  transition: all 0.2s;
}

.extract_list .item {
  padding: 0.5em 0 !important;
  &:hover {
    color: rgba(0,0,0,0.8) !important;
  }
}

.single_extract_line {
  width: 100%;
}

// Bypass  Endpoint Security
// https://github.com/Semantic-Org/Semantic-UI/issues/5385
.ui.dropdown > .dropdown.icon {
  font-family: 'Icons' !important;
}

.ui.checkbox input:checked ~ .box:after, .ui.checkbox input:checked ~ label:after {
  font-weight: bold;
  content: '\f00c' !important;
  font-family: 'Icons' !important;
}